@{
    ViewBag.Title = "Login";
}

<link href="~/Content/custombootstrapcss.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.intellisense.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/knockout-3.5.0.debug.js"></script>
<script src="~/Scripts/knockout-3.5.0.js"></script>
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

<a href="~/Content/bootstrap-theme.css.map"></a>
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

@model EmployeeWithEntityFramwork.Models.Login
@if (ViewBag.Message != null)
{
    <h1>@ViewBag.Message</h1>
}
@*@{
        var result = new CollectResponseType();

    }*@
@*@using System.Web.Script.Serialization;*@
@*@using EmployeeWithEntityFramwork.BankIdService
    @using EmployeeWithEntityFramwork.Models
    @model EmployeeWithEntityFramwork.Models.Login*@




<body>
    <form>
        <div style="margin-top: 100px">
            <label>Enter Your Personal Number</label>
            <input type="text" data-bind="value:personalNumber" required />
            <button data-bind="click:getData">Login</button>
            <p data-bind="text:userInfo"></p>
        </div>
        <div id="loader" style="display:none" class="loader">

        </div>
        @*<a id="openbankidapp" href="bankid:///?redirect=http://192.168.1.55:1211/Home/Login" target="_blank" rel="alternate" style="display:none"></a>*@
        <a id="openbankidapp" href="bankid:///" target="_blank" rel="alternate" style="display:none"></a>
    </form>
    <script>
        var MyViewModel = {
            personalNumber: ko.observable(),
            userInfo: ko.observable(),
            progressStatusCode: ko.observable(),
            client: ko.observable(),
            order: ko.observable(),
            result: ko.observable(),
            returnView: function () {
                $("#loader").hide();
                var model = {
                    PersonalNumber: MyViewModel.personalNumber(),
                    TempText: "User Logged In"

                };
                $.ajax({
                    url: '/Home/Login',
                    type: 'POST',
                    data: '{loginModel: ' + JSON.stringify(model) + '}',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                    },
                    error: function (err) {
                        alert(err.status + " : " + err.statusText);

                    }
                })
            },
            collectInfo: function (order) {
                var orderResponse = order;
                $.ajax({
                    url: '/Home/Collect',
                    type: 'POST',
                    data: '{order: ' + JSON.stringify(order) + '}',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.TempText == "USER_CANCEL") {
                            $("#loader").hide();
                            MyViewModel.userInfo("Transaction Cancelled By User");
                        } else if (data.TempText == "EXPIRED_TRANSACTION") {
                            $("#loader").hide();
                            MyViewModel.userInfo("Transaction Expired");
                        }
                        else if (data.TempText == "START_FAILED") {
                            $("#loader").hide();
                            MyViewModel.userInfo("The BankID app couldn’t be found on your computer or mobile device. Please install it and order a BankID from your internet bank.Install the app from install.bankid.com.");
                        }
                        else if (data.TempText == "CERTIFICATE_ERR") {
                            $("#loader").hide();
                            MyViewModel.userInfo("The BankID you are trying to use is revoked or too old. Please use another BankID or order a new one from your internet bank.");
                        }
                        else if (data.TempText == "INTERNAL_ERROR" || data.TempText == "RETRY") {
                            $("#loader").hide();
                            MyViewModel.userInfo("Internal error. Please try again.");
                        }
                        else if (data.TempText == "ALREADY_IN_PROGRESS" || data.TempText == "CANCELLED") {
                            $("#loader").hide();
                            MyViewModel.userInfo("Action cancelled. Please try again.");
                        }
                        if (data.Response != null) {
                            if (data.Response.progressStatus == 0) {
                                MyViewModel.userInfo("Open Your Mobile App");

                                if (data.OpenMobileApp) {
                                    var href = $('#openbankidapp').attr('href');
                                    window.location.href = href + "?redirect=http://192.168.1.55:1211/Home/Login?orderRef=" + data.OrderRef;
                                }
                                MyViewModel.collectInfo(order);
                            } else if (data.Response.progressStatus == 1) {
                                MyViewModel.userInfo("Enter Your Security Code");
                                MyViewModel.collectInfo(order);
                            } else if (data.Response.progressStatus == 2) {
                                MyViewModel.userInfo("Open Your Mobile App");
                                MyViewModel.collectInfo(order);
                            } else if (data.Response.progressStatus == 3) {
                                MyViewModel.userInfo("Enter Your Security Code");
                                MyViewModel.collectInfo(order);
                            } else if (data.Response.progressStatus == 5) {
                                MyViewModel.userInfo("Transaction Completed");
                                //MyViewModel.returnView();
                                //MyViewModel.collectInfo(order);
                                $("#loader").hide();
                            }
                            MyViewModel.progressStatusCode(data.Response.ProgressStatus);
                        }
                    },
                    error: function (err) {
                        $("#loader").hide();
                        MyViewModel.userInfo(err.statusText);
                        //alert(err.status + " : " + err.statusText);

                    }
                })
            },
            getData: function () {
                $("#loader").toggle();
                var model = {
                    PersonalNumber: MyViewModel.personalNumber()
                };
                $.ajax({
                    url: '/Home/GetData',
                    type: 'POST',
                    data: '{loginModel: ' + JSON.stringify(model) + '}',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.TempText == "Invalid_PN") {
                            $("#loader").hide();
                            MyViewModel.userInfo("Invalid Personal Number");
                        } else if (data.Response == null) {
                            MyViewModel.collectInfo(data.Order);
                        }
                        else if (data.TempText == "INTERNAL_ERROR" || data.TempText == "RETRY") {
                            $("#loader").hide();
                            MyViewModel.userInfo("Internal error. Please try again.");
                        }
                        else if (data.TempText == "ALREADY_IN_PROGRESS" || data.TempText == "CANCELLED") {
                            $("#loader").hide();
                            MyViewModel.userInfo("Action cancelled. Please try again.");
                        }
                    },
                    error: function (err) {
                        alert(err.status + " : " + err.statusText);

                    }
                })
            },

        };
        ko.applyBindings(MyViewModel);
    </script>
</body>




























